.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.spinner-container.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 9999;
}

.spinner {
    display: inline-block;
    position: relative;
}

.spinner-sm {
    width: 24px;
    height: 24px;
}

.spinner-md {
    width: 40px;
    height: 40px;
}

.spinner-lg {
    width: 64px;
    height: 64px;
}

.spinner-circle {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-radius: 50%;
    animation: spinner-rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--green) transparent transparent transparent;
}

.spinner-circle:nth-child(1) {
    animation-delay: -0.45s;
}

.spinner-circle:nth-child(2) {
    animation-delay: -0.3s;
}

.spinner-circle:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes spinner-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-text {
    margin-top: 1rem;
    color: #666;
    font-size: 0.9rem;
}